/* Styling for the header of the page */
header {
    font-family: 'Raleway', sans-serif;
}

/* Backgorund colors for the header*/
.header {
    z-index: 999;
    padding-top: 30px;
}

/* Sizing for the images */
.bg-image {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.small-bg-image {
    display: none;
}

.top {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.search {
    max-height: 38px;
    max-width: 40px;
}

.today-weather {
    padding-top: 10px;
}

#bottom {
    padding-top: 50px;
}

/* take out border? */
.card {
    opacity: .80;
    border-radius: 5px;
}

#days {
    border-radius: 5px;
}

/* Making the backgrounds clear */
.header-forecast {
    opacity: 1;
}

.current-image {
    max-width: 60px;
    max-height: auto;
}


/* To change the color of the UV */
.favorable {
    color: darkgreen
}

.moderate {
    color: goldenrod
}

.severe {
    color: rgba(255, 0, 0, 0.733)
}


/* Body Area */
/* font-family: 'Andada Pro', serif; */

@media (max-width: 1640px) {
    .bg-image {
        display: none;
    }

    .small-bg-image {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
    }
  }