header {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-color: #87CEFA;
}

.color {
    background-color: #4682B4;
}

.bg-image {
    width: 100%;
    position: absolute;
    left: 0;
}

.small-bg-image {
    display: none;
}

.top {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

#bottom {
    padding-top: 50px;
}

/* take out border? */
.card {
    opacity: .80;
    border-radius: 5px;
}

#days {
    border-radius: 5px;
}

/* Body Area */
/* font-family: 'Andada Pro', serif; */

@media (max-width: 1025px) {
    .bg-image {
        display: none;
    }

    .small-bg-image {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
    }
  }